body {
    background-color: rgba(73,204,144,.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;

    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    min-width: 80px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

a{
    background-color: lightseagreen;
    padding: 2px;
    border-radius: 4px;
}

a,a:hover, a:visited{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text_block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 800px;
    background-color: #49cc90;
    border-radius: 1.5em;
    padding: 0.5em;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.top_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -12px;
    position: relative;
}

.center_row{
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.bottom_row{
    margin-top: -11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cat{
    width: 600px;
}